---
title: Service Plan Reference
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic provides reference information about the plans and configuration parameters used for
configuring service instances.

See the section below for your desired service:

- [Amazon S3 Bucket](#aws-bucket)
- [Amazon RDS for MySQL](#aws-mysql)
- [Amazon RDS for PostgreSQL](#aws-postgres)
- [Amazon ElastiCache for Redis](#aws-elasticache)


## <a id="aws-bucket"></a> Amazon S3 Bucket

This section applies to the `csb-aws-s3-bucket` service.
This section lists default plans and configuration options for Amazon S3 Buckets on AWS.


### <a id="aws-bucket-plans"></a> Plans

The table below lists the plans for the csb-azure-mssql service:

| Plan       | Description |
|------------|------|
| private       | a private S3 bucket|
| public-read      | a publicly readable S3 bucket|


### <a id="aws-bucket-plans-config"></a> Plan Configuration Parameters

The table below lists the plan parameters you can configure within the tile in
<%= vars.ops_manager %>:

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Type</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bucket_name</td>
      <td>string</td>
      <td>Name of bucket to create</td>
      <td>csb-INSTANCE-ID</td>
    </tr>
    <tr>
      <td>region</td>
      <td>string</td>
      <td>
        AWS region to deploy service in.
        For more information about available regions, see the
        <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions">AWS documentation</a>.</td>
      <td>us-west-2</td>
    </tr>
    <tr>
      <td>aws_access_key_id</td>
      <td>string</td>
      <td>AWS Access Key to use for an instance</td>
      <td>The config file value <code>aws.access_key_id</code></td>
    </tr>
    <tr>
      <td>aws_secret_access_key</td>
      <td>string</td>
      <td>Corresponding secret for the AWS Access Key to use for an instance</td>
      <td>The config file value <code>aws.secret_access_key</code></td>
    </tr>
  </tbody>
</table>


#### <a id="aws-bucket-binding"></a> Binding Credentials

The binding credentials for the S3 bucket have the following shape:

```json
{
    "arn" : "BUCKET-ARN",
    "bucket_domain_name" : "BUCKET-FQDN",
    "region" : "BUCKET-REGION",
    "bucket_name" : "BUCKET-NAME",
    "access_key_id" : "ACCESS-KEY-FOR-BUCKET",
    "secret_access_key" : "SECRET-KEY-FOR-BUCKET",
}
```


## <a id="aws-mysql"></a> Amazon RDS for MySQL

This section applies to the `aws-rds-mysql` service.
This section lists default plans and configuration options for Amazon RDS for MySQL on AWS.


### <a id="aws-mysql-plans"></a> Plans

The default plans and configuration options for Amazon RDS for MySQL are below:

| Plan | Instance Class | Version | CPUs | Memory Size | Disk Size |
|------|---------|---------|------|-------------|-----------|
|small | db.t2.medium | 5.7     | 2    | minimum 4&nbsp;GB     | 5&nbsp;GB       |
|medium| db.m4.xlarge | 5.7      | 4    | minimum 8&nbsp;GB     | 10&nbsp;GB      |
|large | db.m4.2xlarge | 5.7      | 8    | minimum 16&nbsp;GB    | 20&nbsp;GB      |


#### Core to Instance Class Mapping

The CPU size is mapped to AWS database instance types as follows:

| CPUs | Instance class |
|-------|---------------|
| 1     | db.m1.medium  |
| 2     | db.t2.medium  |
| 4     | db.m4.xlarge  |
| 8     | db.m4.2xlarge |
| 16    | db.m4.4xlarge |
| 32    | db.m5.8xlarge |
| 64    | db.m5.16xlarge|

For more information about database instance classes, see the
[AWS documentation](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html).


### <a id="aws-mysql-plans-config"></a> Plan Configuration Parameters

The table below lists the plan parameters you can configure within the tile in
<%= vars.ops_manager %>:

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Type</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>instance_name</td>
      <td>string</td>
      <td>Name of the AWS instance to create</td>
      <td>csb-mysql-INSTANCE-ID</td>
    </tr>
    <tr>
      <td>region</td>
      <td>string</td>
      <td>
        The AWS region to deploy the service in.
        For more information about available regions, see the
        <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions">AWS documentation</a>.
      </td>
      <td>us-west-2</td>
    </tr>
    <tr>
      <td>vpc_id</td>
      <td>string</td>
      <td>The VPC to connect the instance to</td>
      <td>The default VPC</td>
    </tr>
    <tr>
      <td>aws_access_key_id</td>
      <td>string</td>
      <td>ID of the Azure tenant for the instance</td>
      <td>config file value <code>aws.access_key_id</code></td>
    </tr>
    <tr>
      <td>aws_secret_access_key</td>
      <td>string</td>
      <td>ID of the Azure subscription for the instance</td>
      <td>config file value <code>aws.secret_access_key</code></td>
    </tr>
    <tr>
      <td>instance_class</td>
      <td>string</td>
      <td>explicit instance class overrides <code>cores</code> conversion into instance class per
        the table above. <%# What does this mean? The grammar is too abridged to parse this. %>
        For more information about database instance classes, see the
        <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html">AWS documentation</a>.
      </td>
      <td></td>
    </tr>
    <tr>
      <td>multi-az</td>
      <td>boolean</td>
      <td>If <code>true</code>, create a Multi-AZ (HA) instance.
        For more information about Multi-AZ deployment, see the
        <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.MultiAZ.html">AWS documentation</a>.
      </td>
      <td>
        <code>false</code>
      </td>
    </tr>
    <tr>
      <td>publicly_accessible</td>
      <td>boolean</td>
      <td>If <code>true</code>, make instance available to public connections.</td>
      <td><code>false</code></td>
    </tr>
  </tbody>
</table>


#### <a id="aws-mysql-binding"></a> Binding Credentials

The binding credentials for MySQL have the following shape:

```json
{
    "name" : "DATABASE-NAME",
    "hostname" : "DATABASE-SERVER-HOST",
    "port" : "DATABASE-SERVER-PORT",
    "username" : "AUTHENTICATION-USERNAME",
    "password" : "AUTHENTICATION-PASSWORD",
    "uri" : "DATABASE-CONNECTION-URI",
    "jdbcUrl" : "JDBC-FORMAT-CONNECTION-URI"
}
```


## <a id="aws-postgres"></a> Amazon RDS for PostgreSQL

This section applies to the `aws-rds-postgres` service.
This section lists default plans and configuration options for Amazon RDS for PostgreSQL on AWS.


### <a id="aws-postgres-plans"></a> Plans

The default plans and configuration options for Amazon RDS for PostgreSQL are below:

| Plan | Instance Class | Version | CPUs | Memory Size | Disk Size |
|------|---------|---------|------|-------------|-----------|
|small | db.t2.medium | 11      | 2    | minimum 4&nbsp;GB     | 5&nbsp;GB       |
|medium| db.m4.xlarge | 11      | 4    | minimum 8&nbsp;GB     | 10&nbsp;GB      |
|large | db.m4.2xlarge | 11      | 8    | minimum 16&nbsp;GB    | 20&nbsp;GB      |


#### Core to Instance Class Mapping

The CPU size is mapped to AWS database instance types as follows:

| CPUs | Instance class |
|-------|---------------|
| 1     | db.m1.medium  |
| 2     | db.t2.medium  |
| 4     | db.m4.xlarge  |
| 8     | db.m4.2xlarge |
| 16    | db.m4.4xlarge |
| 32    | db.m5.8xlarge |
| 64    | db.m5.16xlarge|

For more information about database instance classes, see the
[AWS documentation](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html).


### <a id="aws-postgres-plans-config"></a> Plan Configuration Parameters

The table below lists the plan parameters you can configure within the tile in
<%= vars.ops_manager %>:

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Type</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>instance_name</td>
      <td>string</td>
      <td>Name of the AWS instance to create</td>
      <td>csb-mysql-INSTANCE-ID</td>
    </tr>
    <tr>
      <td>region</td>
      <td>string</td>
      <td>
        The AWS region in which to deploy a service. For more information about available regions,
        see the <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions">AWS documentation</a>.
      </td>
      <td>us-west-2</td>
    </tr>
    <tr>
      <td>vpc_id</td>
      <td>string</td>
      <td>The VPC to connect the instance to</td>
      <td>The default VPC</td>
    </tr>
    <tr>
      <td>aws_access_key_id</td>
      <td>string</td>
      <td>ID of Azure tenant for the instance</td>
      <td>The config file value <code>aws.access_key_id</code></td>
    </tr>
    <tr>
      <td>aws_secret_access_key</td>
      <td>string</td>
      <td>ID of Azure subscription for the instance</td>
      <td>The config file value <code>aws.secret_access_key</code></td>
    </tr>
    <tr>
      <td>instance_class</td>
      <td>string</td>
      <td>explicit instance class overrides <code>cores</code> conversion into instance
        class per table above. <%# What does this mean? The grammar is too abridged to parse this. %>
        For more information about database instance classes, see the
        <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html">AWS documentation</a>.</td>
      <td></td> <%# n/a? %>
    </tr>
    <tr>
      <td>multi-az</td>
      <td>boolean</td>
      <td>If <code>true</code>, create a Multi-AZ (HA) instance.
      For more information about Multi-AZ deployments, see the
      <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.MultiAZ.html">AWS documentation</a>.</td>
      <td><code>false</code></td>
    </tr>
    <tr>
      <td>publicly_accessible</td>
      <td>boolean</td>
      <td>If <code>true</code>, make instance available to public connections.</td>
      <td><code>false</code></td>
    </tr>
  </tbody>
</table>


#### <a id="aws-postgres-binding"></a> Binding Credentials

The binding credentials for PostgreSQL have the following shape:

```json
{
    "name" : "DATABASE-NAME",
    "hostname" : "DATABASE-SERVER-HOST",
    "port" : "DATABASE-SERVER-PORT",
    "username" : "AUTHENTICATION-USERNAME",
    "password" : "AUTHENTICATION-PASSWORD",
    "uri" : "DATABASE-CONNECTION-URI",
    "jdbcUrl" : "JDBC-FORMAT-CONNECTION-URI"
}
```


## <a id="aws-elasticache"></a> Amazon ElastiCache for Redis

This section applies to the `csb-aws-redis` service.
This section lists default plans and configuration options for Amazon ElastiCache for Redis.


### <a id="aws-elasticache-plans"></a> Plans

#### Basic Plans:

| Plan | Cache Size | AWS Cache Node Type | HA |
|------|------------|---------------------|-----|
| small | minimum 1&nbsp;GB | cache.t2.small | no |
| medium | minimum 4&nbsp;GB |cache.m5.large | no |
| large | minimum 16&nbsp;GB |cache.r4.xlarge | no |


#### High Availability Plans:

| Plan | Cache Size | AWS Cache Node Type | HA |
|------|------------|---------------------|-----|
| ha-small | minimum 1&nbsp;GB | cache.t2.small | yes |
| ha-medium | minimum 4&nbsp;GB |cache.m5.large | yes |
| ha-large | minimum 16&nbsp;GB |cache.r4.xlarge | yes |


#### <a id="aws-redis-plans-config"></a> Binding Credentials

You can configure the following parameters, as well as those above, at service provisioning time by
running:

```
cf create-service csb-aws-redis ... -c '{...}' <%# What are the placeholders? %>
```

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Type</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>instance_name</td>
      <td>string</td>
      <td>Name of the Azure instance to create</td>
      <td>csb-redis-INSTANCE-ID</td>
    </tr>
    <tr>
      <td>region</td>
      <td>string</td>
      <td>AWS region to deploy service instance in</td>
      <td>us-west-2</td>
    </tr>
    <tr>
      <td>vpc_id</td>
      <td>string</td>
      <td>The VPC to connect the instance to</td>
      <td>The default VPC</td>
    </tr>
    <tr>
      <td>aws_access_key_id</td>
      <td>string</td>
      <td>The ID of the Azure tenant for the instance</td>
      <td>config file value
        <code>aws.access_key_id</code>
      </td>
    </tr>
    <tr>
      <td>aws_secret_access_key</td>
      <td>string</td>
      <td>The ID of the Azure subscription for the instance</td>
      <td>config file value
        <code>aws.secret_access_key</code>
      </td>
    </tr>
    <tr>
      <td>redis_version</td>
      <td>string</td>
      <td>Redis version to provision (<code>&quot;2.6&quot;</code>,
        <code>&quot;2.8&quot;</code>,
        <code>&quot;3.2&quot;</code>,
        <code>&quot;4.0&quot;</code>,
        <code>&quot;5.0&quot;</code>)</td>
      <td>
        <code>&quot;5.0&quot;</code>
      </td>
    </tr>
    <tr>
      <td>cache_size</td>
      <td>integer</td>
      <td>Size in GB for cache: 1, 2, 4, 8, 16, 32, 64, 128, 256</td>
      <td>per plan</td>
    </tr>
    <tr>
      <td>node_type</td>
      <td>string</td>
      <td>explicit <a href="https://aws.amazon.com/elasticache/pricing/">node type</a> overrides
        <code>cache_size</code> conversion into node type per table above.
        For more information about node types and pricing, see the
        <a href="https://aws.amazon.com/elasticache/pricing/">AWS documentation</a>.</td>
      <td><%# n/a? %></td>
    </tr>
  </tbody>
</table>


#### <a id="aws-redis-binding"></a> Binding Credentials

The binding credentials for Redis have the following shape:

```json
{
    "host" : "REDIS-SERVER-HOSTNAME",
    "port" : "REDIS-SERVER-PORT",
    "password" : "AUTHENTICATION-PASSWORD",
    "tls_port" : "REDIS-TLS-PORT"
}
```
