---
title: Service Plan Reference
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic provides reference information about the plans and configuration
parameters used for configuring service instances.

See the section below for your desired service:

- [Amazon S3 Bucket](#aws-bucket)
- [Amazon RDS for MySQL](#aws-mysql)
- [Amazon RDS for PostgreSQL](#aws-postgres)
- [Amazon ElastiCache for Redis](#aws-elasticache)


## <a id="aws-bucket"></a> AWS S3 Bucket

This section applies to the `csb-aws-s3-bucket` service.
This section lists default plans and configuration options for Amazon S3 Buckets on AWS.

### <a id="aws-bucket-plans"></a> Plans

The table below lists the plans for the csb-azure-mssql service:

| Plan       | Description |
|------------|------|
| private       | a private S3 bucket|
| public-read      | a publicly readable S3 bucket    | 


### <a id="aws-bucket-plans-config"></a> Plan Configuration Parameters

The table below lists the plan parameters you can configure within the tile in OpsMan:

| Parameter | Type | Description | Default |
|-----------|------|------|---------|
| bucket_name| string | Name of bucket to create | csb-*instance_id* |
| region  | string | [AWS region](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions) to deploy service  | us-west-2 |
| aws_access_key_id | string | AWS Access Key to use for instance | config file value `aws.access_key_id` |
| aws_secret_access_key | string | Corresponding secret for the AWS Access Key to use for instance | config file value `aws.secret_access_key` |

#### <a id="aws-bucket-binding"></a> Binding Credentials

The binding credentials for the S3 bucket have the following shape:

```json
{
    "arn" : "bucket arn",
    "bucket_domain_name" : "bucket FQDN",
    "region" : "bucket region",
    "bucket_name" : "bucket name",
    "access_key_id" : "access key for bucket",
    "secret_access_key" : "secret key for bucket",
}
```

## <a id="aws-mysql"></a> Amazon RDS for MySQL
This section applies to the `aws-rds-mysql` service.
This section lists default plans and configuration options for Amazon RDS for MySQL on AWS.


### <a id="aws-mysql-plans"></a> Plan Configuration Parameters
These are the default plans and configuration options for Amazon RDS for PostgreSQL.


| Plan | Instance Class | Version | CPUs | Memory Size | Disk Size |
|------|---------|---------|------|-------------|-----------|
|small | db.t2.medium | 5.7     | 2    | min 4GB     | 5GB       |
|medium| db.m4.xlarge | 5.7      | 4    | min 8GB     | 10GB      |
|large | db.m4.2xlarge | 5.7      | 8    | min 16GB    | 20GB      |

#### Core to instance class mapping
CPU size mapped into [AWS DB instance types](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html) as follows:


| CPUs | Instance class |
|-------|---------------|
| 1     | db.m1.medium  |
| 2     | db.t2.medium  |
| 4     | db.m4.xlarge  |
| 8     | db.m4.2xlarge |
| 16    | db.m4.4xlarge |
| 32    | db.m5.8xlarge |
| 64    | db.m5.16xlarge|


### <a id="aws-mysql-plans-config"></a> Plan Configuration Parameters
The table below lists the plan parameters you can configure within the tile in OpsMan:


| Parameter | Type | Description | Default |
|-----------|------|------|---------|
 instance_name | string | name of AWS instance to create | csb-mysql-*instance_id* |
| region  | string | [AWS region](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions) to deploy service  | us-west-2 |
| vpc_id | string | The VPC to connect the instance to | the default vpc |
| aws_access_key_id | string | ID of Azure tenant for instance | config file value `aws.access_key_id` |
| aws_secret_access_key | string | ID of Azure subscription for instance | config file value `aws.secret_access_key` |
| instance_class | string | explicit [instance class](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html) *overrides* `cores` conversion into instance class per table above | | 
| multi-az | boolean | If `true`, create multi-az ([HA](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.MultiAZ.html)) instance | `false` | 
| publicly_accessible | boolean | If `true`, make instance available to public connections | `false ` |


#### <a id="aws-mysql-binding"></a> Binding Credentials

The binding credentials for MySQL have the following shape:

```json
{
    "name" : "database name",
    "hostname" : "database server host",
    "port" : "database server port",
    "username" : "authentication user name",
    "password" : "authentication password",
    "uri" : "database connection URI",
    "jdbcUrl" : "jdbc format connection URI"
}
```



## <a id="aws-postgres"></a> Amazon RDS for PostgreSQL
This section applies to the `aws-rds-postgres` service.
This section lists default plans and configuration options for Amazon RDS for Postgres on AWS.

### <a id="aws-postgres-plans"></a> Plan Configuration Parameters
These are the default plans and configuration options for Amazon RDS for PostgreSQL.


| Plan | Instance Class | Version | CPUs | Memory Size | Disk Size |
|------|---------|---------|------|-------------|-----------|
|small | db.t2.medium | 11      | 2    | min 4GB     | 5GB       |
|medium| db.m4.xlarge | 11      | 4    | min 8GB     | 10GB      |
|large | db.m4.2xlarge | 11      | 8    | min 16GB    | 20GB      |


#### Core to instance class mapping
CPU size mapped into [AWS DB instance types](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html) as follows:


| CPUs | Instance class |
|-------|---------------|
| 1     | db.m1.medium  |
| 2     | db.t2.medium  |
| 4     | db.m4.xlarge  |
| 8     | db.m4.2xlarge |
| 16    | db.m4.4xlarge |
| 32    | db.m5.8xlarge |
| 64    | db.m5.16xlarge|


### <a id="aws-postgres-plans-config"></a> Plan Configuration Parameters

The table below lists the plan parameters you can configure within the tile in OpsMan:

| Parameter | Type | Description | Default |
|-----------|------|------|---------|
| instance_name | string | name of AWS instance to create | csb-mysql-*instance_id* |
| region  | string | [AWS region](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions) to deploy service  | us-west-2 |
| vpc_id | string | The VPC to connect the instance to | the default vpc |
| aws_access_key_id | string | ID of Azure tenant for instance | config file value `aws.access_key_id` |
| aws_secret_access_key | string | ID of Azure subscription for instance | config file value `aws.secret_access_key` |
| instance_class | string | explicit [instance class](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html) *overrides* `cores` conversion into instance class per table above | | 
| multi-az | boolean | If `true`, create multi-az ([HA](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.MultiAZ.html)) instance | `false` | 
| publicly_accessible | boolean | If `true`, make instance available to public connections | `false ` |


#### <a id="aws-postgres-binding"></a> Binding Credentials

The binding credentials for PostgreSQL have the following shape:

```json
{
    "name" : "database name",
    "hostname" : "database server host",
    "port" : "database server port",
    "username" : "authentication user name",
    "password" : "authentication password",
    "uri" : "database connection URI",
    "jdbcUrl" : "jdbc format connection URI"
}
```


## <a id="aws-elasticache"></a> Amazon ElastiCache for Redis
This section applies to the `csb-aws-redis-basic` and `csb-aws-redis-ha` service.
This section lists default plans and configuration options for Amazon ElastiCache for Redis.


### <a id="aws-elasticache-plans"></a> Plans



