---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-0-0"></a> v1.0.0

**Release Date:** November 17, 2020

### Features

New feature in this release:

* **Initial release:** This is the initial release for the <%= vars.product_full %> tile.

### Known Issues
* [POSTGRESQL] AWS does not allow updates that increase the PostgreSQL GB Capacity (such as going from basic to standard plans). 
Updates to an instance of PostgreSQL will fail if they attempt to update `storage_gb` See [AWS Docs for more details](https://aws.amazon.com/premiumsupport/knowledge-center/rds-db-storage-size/)
