---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-0-0"></a> v1.0.0

**Release Date:** November 17, 2020

### Features

New feature in this release:

* **Initial release:** This is the initial release for the <%= vars.product_full %> tile.

### Known Issue

This release has the following issue:

* **PostgreSQL instances cannot be moved to smaller plans:**  Because of a limitation with Amazon RDS for PostgreSQL,
  instance plans cannot be changed to smaller plans, for example, through a `cf update-service -p` command.
  This restriction also applies to subsumed PostgreSQL instances.
  Updates to a PostgreSQL instance fail if they attempt an update that decreases `storage_gb`.
  For information about decreasing the total provisioned storage size of an Amazon RDS DB instance,
  see the [AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-db-storage-size/).
