---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-0-0"></a> v1.0.0

**Release Date:** November 16, 2020

### Features

New feature in this release:

* **Initial release:** This is the initial release for the <%= vars.product_full %> tile.

### Known Issues
There are no known issues for this release.
