---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-1-0"></a> v1.1.0

**Release Date:** MMMMM DD, YYYY

### Features

New features and changes in this release:

* **Run-in heading for feature:** Description of feature

*  

### Resolved Issues

This release has the following fixes:

* 

* 

### Known Issues

There are no known issues for this release.
