---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-0-1"></a> v1.0.1

**Release Date:** December 14, 2020

## New Features: 
[NEW] Added ability to specify Postgres, MySQL and Redis subnet group. This is useful if your VPC already has an existing subnet group that you want to use
[NEW] Delivered functionality for #139. Improve legacy broker migration with additional properties for AWS RDS PostegreSQL plans
[NEW] Added functionality to allow major/minor upgrade and specify maintenance window for RDS Postgres and MySQL


## Bug Fixes: 
[DOCS] Added new and necessary IAM policies to the configuration Docs on TanzuNet (https://docs.pivotal.io/csb-aws/1-0/installing-with-aws.html)
[FIX] Marked defaults and required parameters in DynamoDB

### Known Issue

This release has the following issue:

* **PostgreSQL instances cannot be moved to smaller plans:**  Because of a limitation with Amazon RDS for PostgreSQL,
  instance plans cannot be changed to smaller plans, for example, through a `cf update-service -p` command.
  This restriction also applies to subsumed PostgreSQL instances.
  Updates to a PostgreSQL instance fail if they attempt an update that decreases `storage_gb`.
  For information about decreasing the total provisioned storage size of an Amazon RDS DB instance,
  see the [AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-db-storage-size/).

##<a id="1-0-0"></a> v1.0.0

**Release Date:** November 18, 2020

### Features

New feature in this release:

* **Initial release:** This is the initial release for the <%= vars.product_full %> tile.

### Known Issue

This release has the following issue:

* **PostgreSQL instances cannot be moved to smaller plans:**  Because of a limitation with Amazon RDS for PostgreSQL,
  instance plans cannot be changed to smaller plans, for example, through a `cf update-service -p` command.
  This restriction also applies to subsumed PostgreSQL instances.
  Updates to a PostgreSQL instance fail if they attempt an update that decreases `storage_gb`.
  For information about decreasing the total provisioned storage size of an Amazon RDS DB instance,
  see the [AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-db-storage-size/).
