<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <nav class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/cloud-service-broker/1-n/index.html">Cloud Service Broker</a>
      </li>

      <li>
        <a href="/cloud-service-broker/1-n/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/cloud-service-broker/1-n/installing-with-azure.html">Installing and Configuring Cloud Service Broker on Azure</a>
      </li>

      <li>
        <a href="/cloud-service-broker/1-n/azure-mssql-subsume.html">Subsuming a Microsoft Azure Service Broker MSSQL Database Instance</a>
      </li>

      <li>
        <a href="/cloud-service-broker/1-n/reference.html">Service Plan Reference</a>
      </li>

    </ul>
  </nav>
</div><!--end of sub-nav-->
